// ESLint Rules
// Extends Wes Bos' configs → https://github.com/wesbos/eslint-config-wesbos/blob/master/.eslintrc.js

{
  "extends": ["wesbos"],
  "rules": {
    "import/no-unresolved": "off",
    "react/display-name": "off",
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true
      }
    ]
  }
}
