# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:12-browsers

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/dormdev

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test

      # Run Lighthouse Bot
      # documented at https://github.com/GoogleChrome/lighthouse-ci/blob/master/docs/getting-started.md
      - run: yarn run build
      - run: sudo yarn global add @lhci/cli@0.3.x
      - run:
          name: lhci autorun
          command: lhci autorun --staticDistDir="./public" --upload.target=temporary-public-storage || echo "LHCI failed!"
